body{
    margin:0;
    
}
.header{
    background-image: url(img/hero-bg.jpg);
    background-repeat: no-repeat;
    color: whitesmoke;
    
   
}

.nav{
    list-style: none;
    display:flex;
    position: fixed;
    top: 0%;
    width: 100%;
}
.home1{
    padding: 20px;
    margin-left: 90px;
    font-size: 25px;
}
.list{
    display: flex;
    margin-left: 400px;
}
.menu1{
    padding: 20px 40px;
    
}

.intro{
    text-align: center;
    margin: 0%;
    padding: 300px 0px;
    font-size: 20px;
    text-shadow: 2px 1px 3px black;
}
.headline{
    font-size: 50px;
    margin: 0%;
    padding: 0;
}